<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="/dist/output.css" rel="stylesheet"> -->
</head>
<title>Registration</title>
<body>
  <h1 class="text-3xl font-bold underline">
    Register here!
  </h1>


<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="phone">Phone Number:</label>
    <input type="int" name="phone" id="phone" required>
    <br>
    <label for="email">Email ID:</label>
    <input type="text" name="email" id="email" required>
    <br>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" required>
    <br>

    <input type="submit" value="Register">
</form>

</body>
</html>